.App {
  text-align: center;
}
.container{
  display:flex;
  flexx-direction: row;
}
.header{
  background-color: orange;
}
.followers-column{
  background-color: red;
}
.feed{
  background-color: blue;
}
.suggested-box{
  background-color:yellow;
}